
.features_items{
	overflow:hidden;
}

.product-image-wrapper{
	border:1px solid #696763;
	overflow: hidden;
	margin-bottom:30px;
}

.productinfo h2{
	color: #FE980F;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 700;
}

.single-products {
  position: relative;
}

.choose {
  border: 1px solid #F7F7F0;
}


.choose ul li a {
	text-align: center;
  color: #B3AFA8;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  padding-left: 0;
  padding-right: 0;
}

/*.choose ul li a i{
	margin-right:5px;
}*/

.choose ul li a:hover{
	background:none;
	color:#FE980F;
}
